  <p>
    <%= comment.user%>
    says:
  </p>

  <p>
    <%= comment.text %>
  </p>

  <p>
    More information can be found here: <%= comment.link %>
  </p>

  <p>
    Added on: <%= comment.created_at.strftime("%A, %B %y, %Y at %I:%M%p") %>
  </p>

  <p>
  <%= link_to "Remove Comment", [comment.site, comment],
          method: :delete,
          data: {confirm: "Are you sure you would like to delete this comment?"} %>
  </p>
  <br>
