<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

  <p>
    <%= comment.user%>
    says:
  </p>

  <p>
    <%= comment.text %>
  </p>

  <p>
    More information can be found here: <%= comment.link %>
  </p>

  <p>
    Comment added: <%= time_ago_in_words(comment.updated_at) %> ago
  </p>

  <p>
  <%= link_to "Remove Comment", [comment.site, comment],
          method: :delete,
          data: {confirm: "Are you sure you would like to delete this comment?"} %>
  </p>
  <br>
