<%= form_for ([@site, @site.comments.build]) do |f| %>
  <p>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <br>
<% end %>
