<h2>Development Locations</h2>

<% @sites.each do |list| %>
  <h3><%= link_to list.location, list %></h3>
  <%= link_to "Delete", site_path(list),
        method: :delete,
        data: {confirm: "Are you sure you would like to delete?"} %>
  <%= link_to "Edit", edit_site_path(list) %>
<ul>
  <li>Type of construction: <%= list.construction_type %></li>
  <li>Building type: <%= list.building_type %></li>
  <li>Last updated on: <%= list.updated_at %></li>
</ul>
<% end %>
