<h2> Viewing <%= @site.location %> </h2>


<p>
  <%= @site.location %>
</p>

<p>
  Type of construction:
  <%= @site.construction_type %>
</p>

<p>
  Building Type:
  <%= @site.building_type %>
</p>

<h2>Comments</h2>
<%= render @site.comments %>

<h2> Add a commment: </h2>

<%= render 'comments/form' %>
