<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->

</head>


<!-- <div class="hero-unit"> -->
<div class="container">
    <nav>
    <h1>DC Development Map</h1>
    <h3> <%= link_to "View All Locations", sites_path %> | <%= link_to "Add Location", new_site_path %> </h3>
  </nav>
<body>

  <%= yield %>

</body>
</div>
</html>
