<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1> DC Development Map </h1>
    <h2> <%= link_to "View All Locations", sites_path %> | <%= link_to "Add Location", new_site_path %> | <%= link_to "Edit Location", sites_path %> | <%= link_to "View All Comments", comments_path %> </h2>
  </nav>

<%= yield %>

</body>
</html>
